# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
.eggs/
*.egg

# Environment variables
.env

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# IDE files
.idea/

# Other
*.log
*.sqlite3
*.db
